<h3> <%= @artist.name %> </h3>

<ul>
  <% @artist.songs.each do |song| %>
    <li> <%= song.title %> </li>
  <% end %>
</ul>

<br>
<hr>
<br>
<%= link_to "New Song", new_song_path %>
<br>
<%= link_to "Back", artists_path %>
