<div class="row">
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4><%= @artist.name %></h4>
      </div>
      <div class="panel-body">
        <%= @artist.image %>   <!-- image in the photo in the artist, nested resoureces?? -->

        <div id="all-songs">
          <%= render 'songs/list_songs' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="new_artist_song_path">
      <%#= link_to "New Song", new_artist_song_path(@artist), remote: true, class: "new-songsss", class: "btn btn-primary" %>
    </div>
  </div>
</div>

<!-- <h4>New Song</h4> -->
<!-- <div id="new-song-form" style="display:none;"></div> -->
<!-- <hr><hr> -->
<div id="aanew-song-form">
  <%= render 'songs/new_song' %>
</div>



<!-- <br><br><hr>
<h4>Photos</h4> -->
<%# @artist.photos.each do |photo| %>
  <%#= image_tag photo.image %>
<%# end %>
